body {
  background-color: #ddddd3;
}
.container {
  text-align: center;
}

#cityInput{
  margin: auto;
  text-align: center;
  width: 60%;
}

input[type="text"] {
  height:40px;
  font-size: 20px;
}

#submitCity {
  height:40px;
  font-size: 20px;
}