body {
  background-color: #ddddd3;
}
.container {
  text-align: center;
}

.header > h1 {
  height: 20px;
  font-size: 75px;
  margin-bottom: 75px;
  color: white;
  padding-bottom: 75px;
}

/*p {*/
/*  color: blue;*/
/*  font-size: 20px;*/
/*}*/

#data {
  font-family: arial;
}