body {
  background-color: #ddddd3;
}
.container {
  text-align: center;
}

.coordInput{
  margin: auto;
  text-align: center;
  width: 60%;
}

input[type="text"] {
  height:40px;
  font-size: 20px;
}

#submitCoords {
  height:40px;
  font-size: 20px;
}

#yourCoords {
  height: 50px;
  font-size: 30px;
  width: 50%;
  background-color: green;
}

#unitswitch {
  margin-left: 15px;
}
#description {
  padding: 40px;
}

#error {
  color: red;
}